<div class="container-fluid abt abt-up">
    <div class="row abt-up-row">
        <div class="col abt-up-col">
            <h1 class="title-abt" style="color: #fbf9fa;text-align:center;font-size:5vw;font-family: 'Playfair Display', serif;font-weight: bold;">My Passions & Personality.</h1>
        </div>
    </div>
</div>

<div class="container-fluid abt abt-mid1">
    <div class="row abt-mid1-row">
        <div class="col abt-mid1-col">
            <img src="/pics/prof.jpeg" class="img-fluid abt-vector" style="max-width: 90%;" alt="Responsive image">
        </div>
        <div class="col abt-mid1-col">
            <h1 style="font-family: 'Playfair Display', serif;font-weight: bolder;font-size: 40px;">A few facts about myself</h1>
            <br>
            <br>
            <p style="padding-top: 1%;color: #323232;font-size: 20px;">I study at Amity University Jharkhand, I love pour over coffee, my favorite number is 36, I'm not huge fan of GTA series, I play video games and basketball like it's my life, I knew what I wanted to do at the age of 14, I like Superbikes, my favorite food is Paneer.</p>
        </div>
    </div>
</div>

<div class="container-fluid abt abt-mid2">
    <div class="row abt-mid2-row">
        <div class="col abt-mid2-col">
            <h1 style="font-family: 'Playfair Display', serif;font-weight: bolder;font-size: 40px;">My instagram feed</h1>
        </div>
    </div>
    <div class="row abt-mid2-row">
        <div class="col-md col-sm-6 abt-mid2-col">
           <img class="img-fluid image-responsive i-gal" src="/pics/img4.jpeg" alt="1">
        </div>
        <div class="col-md col-sm-6 abt-mid2-col">
            <img class="img-fluid i-gal" src="/pics/img12.jpg" alt="1">
         </div>
         <div class="col-md col-sm-6 abt-mid2-col">
            <img class="img-fluid i-gal" src="/pics/img11.jpg" alt="1">
         </div>
         <div class="col-md col-sm-6 abt-mid2-col">
            <img class="img-fluid i-gal" src="/pics/img6.jpeg" alt="1">
         </div>
         
        
    </div>
    <div class="row abt-mid2-row">
        <div class="col-md col-sm-6 abt-mid2-col">
           <img class="img-fluid i-gal" src="/pics/img10.jpg" alt="1">
        </div>
        <div class="col-md col-sm-6 abt-mid2-col">
            <img class="img-fluid i-gal" src="/pics/img9.jpeg" alt="1">
         </div>
         <div class="col-md col-sm-6 abt-mid2-col">
            <img class="img-fluid i-gal" src="/pics/img13.jpg" alt="1">
         </div>
         <div class="col-md col-sm-6 abt-mid2-col">
            <img class="img-fluid i-gal" src="/pics/img8.jpeg" alt="1">
         </div>
         
        
    </div>
    <div class="row abt-mid2-row" style="padding-top: 93px;">
        <div class="col abt-mid2-col">
            <a type="button" class="btn btn-outline-dark" style="font-size: 20px;" href="https://www.instagram.com/red._.smoke_/">Follow me on Instagram</a>
        </div>
    </div>
</div>

<div class="container-fluid abt abt-low">
    <div class="row abt-low-row">
        <div class="col abt-low-col">
            <h1 style="font-family: 'Playfair Display', serif;font-weight: bolder;font-size: 40px;">What I've done & what I can do</h1>
            <br>
            <br>
            <p style="color: #323232;font-size: 20px;padding-top: 10px;padding-bottom: 50px;">Feel free to take a deeper look at <br> what I've accomplished over the years <br> and <br> what I'm able to do for you. <br> My resume goes over the standard items, <br> but please understand that I don't embellish my capabilities (no good ever comes out of that).</p>
        </div>
    </div>
    <div class="row abt-low-row">
        <div class="col abt-low-col">
            <a type="button" class="btn btn-outline-warning" style="color: black;font-size: 20px;"href="/contact">Contact me</a>
        </div>
    </div>
</div>