<div class="container-fluid contact-up">
    <div class="row contact-up-row">
       <div class="col up-text">
            <h1 style="color: #ebebe3;font-size:6vw;font-family: 'Playfair Display', serif;padding-bottom: 50px;font-weight: normal;text-align: left;">Connect with me <br>today.</h1>
        </div>
    </div>
</div>
<div class="container-fluid contact-mid">
    <div class="row contact-mid-row">
        <div class="col contact-mid-col">
            <h1 style="color: white;font-size:7vw;font-family: 'Playfair Display', serif;padding-bottom: 50px;">Reach out to me directly.</h1>
            <a type="button" class="btn btn-light" style="font-family: 'Playfair Display', serif;font-size: 20px;" href="mailto:saurabhraj042@gmail.com?">Email</a>

        </div>
    </div>
</div>
<div class="container-fluid contact-low">
    <div class="row contact-up-row">
        <div class="col contact-up-col">
            
        </div>
    </div>
</div>