<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Martel&display=swap" rel="stylesheet">
    <title>RajSpace</title>
  </head>
  <body class="bodyMain">
    <nav class="navbar navbar-expand-md">
        <a href="/" class="navbar-brand" style="font-family: 'Martel', serif;font-size:210%;color: white;font-weight: bolder;padding-left: 55px;">स / र</a>
        <button class="navbar-toggler">
            <span class="navbar-toggler-icon" data-toggle="collapse" data-target="#navMenu"></span>
        </button>
        <div class="collapse navbar-collapse" id="navMenu">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item mx-3">
                  <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item mx-3">
                  <a class="nav-link active" href="/resume">Resume</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-5">
                <li class="nav-item">
                  <a class="nav-link active" href="/contact">Contact</a>
                </li> 
            </ul>
        </div>
        
    </nav>
   
    <%- body %>


    <footer class="footerstyle">
        <div class="mainText">Let me Build the website you need</div>
        <p class="copyW">Copyright © 2020</p>
        <div class="bts">
            <a href="https://www.facebook.com/saurabh.raj.737?ref=bookmarks" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="https://www.instagram.com/red._.smoke_/" class="fa fa-instagram"></a>
            <a href="https://github.com/saurabhraj042" class="fa fa-github"></a>
        </div>
    </footer>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>