<div class="container-fluid home-image">
    <div class="row">
        <div class="col upper-col">
            <h1 style="color: white;text-align: left;font-size:8vw;font-family: 'Playfair Display', serif;">Dig <br>a little <br>deeper. </h1>
        </div>
    </div>
    <div class="row">
        <div class="col bt-col">
            <button type="button" class="btn btn-outline-warning btn-lg" style="color: white;font-size: 20px;">Download Resume</button>
        </div>
    </div>    
</div>

<div class="container-fluid mid-container" style="background-color: #e1f4f3;margin-left: 2px;">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <h2 style="color: #323232;font-size: 40px;">Technologies</h2>
      </div>
      <div class="col-md-4 col-sm-12" style="padding-top: 2vh;">
        <h5 style="font-weight:bold;font-size: 20px;">DAY-TO-DAY-COMFORT</h5>
        <br>
        <ul style="list-style-position:outside;font-size: x-large;color: #323232;font-size: 20px;">
            <li>Sass</li>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>AJAX</li>
            <li>Passport Authentication</li>
            <li>Photoshop</li>
            <li>Mobile First Thinking</li>
            <li>Responsive Layout Design</li>
            <li>Cross Browser Compatibility</li>
            <li>XML(Beginner)</li>
            <li>Android(Beginner)</li>
        </ul>
      </div>
      
      <div class="col-md-4" style="padding-top: 2vh;">
        <h5 style="font-weight:bold;font-size: 20px;">EXPERIENCE WITH</h5>
        <br>
        <ul style="list-style-position:outside;font-size: x-large;color: #323232;font-size: 20px;">
            <li>NodeJs</li>
            <li>BootStrap4</li>
            <li>SqlPlus</li>
            <li>MongoDB</li>
            <li>Version COntrol(GIT)</li>
        </ul>
      </div>
    </div>
    <div class="row" style="padding-top: 10vh;">
        <div class="col-md-4">
            <h2 style="color:#323232;font-size: 40px;">Education</h2>
        </div>
        <div class="col-md-8" style="padding-left: 3vh;padding-top: 2vh;">
            <h5 style="font-weight:bold;padding-top: 3px;font-size: 20px;"> BACHELOR OF TECHNOLOGY IN COMPUTER SCIENCE</h5>
            <p style="padding-top: 1%;color: #323232;font-size: 20px;">Amity School of Technology,Jharkhand(2018 - Present)</p>
            <br>
            <h5 style="font-weight:bold;font-size: 20px;">INTERMEDIATE</h5>
            <p style="padding-top: 1%;color: #323232;font-size: 20px;">Navyug Vidyalaya Bhagalpur(2015 - 2017)</p>
   
        </div>
    </div>
</div>

<div class="container-fluid low-container">
    <div class="row low-row">
        <div class="col low-col">
            <h1 style="color: black;font-size: 40px;font-family: 'Playfair Display', serif;font-weight: 600;">Hire Me <br>today </h1>
            <br>
            <br>
            <p style="color: #323232;font-size: 20px;">Now that you know what I've done and what I could do for you, feel free to reach out and start a conversation. I always enjoy speaking with passionate business owners about their needs.</p>
        </div>
    </div>
    <div class="row low-row">
        <div class="col low-col" style="padding-top: 20px;">
            <button type="button" class="btn btn-outline-warning btn-lg" style="color: black;font-size: 20px;">Contact Me</button>

        </div>
    </div>
</div>